@model SocomTrainingPlatform.Models.DashboardModels.DashboardViewModels.DetailsVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout/_Layout.cshtml";
}
<div class="container-fluid py-4" style="background-color:white; box-shadow: 0 4px 2px -2px gray">
    <div class="row">
        <div class="col-md-4">
            <h3 class="align-content-center">@Html.DisplayFor(model => model.location.Name)</h3>
            <div>
                <h6>@Html.DisplayName(ViewBag.FullAddress)</h6>
            </div>
        </div>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="bi bi-map" style="padding-right: 10px"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-map">Map View</button></li>
            <li>
                <div class="btn-group">
                    <a href="#" type="button" class="btn btn-default" data-toggle="dropdown">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-action="EditSite" asp-route-id="@Model.location.Id">Edit Site</a></li>
                        <li><a style="color:red" asp-action="DeleteSite" asp-route-id="@Model.location.Id">Delete Site</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid py-4">
    <div class="row">
        <div class="container-fluid col-md-8">
            @if (Model.SiteFields.Count() < 0)
            {
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Site Fields</h2>
                        <div class="card-tools">
                            <a href="#" class="btn btn-tool btn-sm" data-toggle="modal" data-target="#modal-fields">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body" style="overflow-y: auto;">
                    </div>
                </div>
            }
            else
            {
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Site Fields</h2>
                        <div class="card-tools">
                            <a href="#" class="btn btn-tool btn-sm" data-toggle="modal" data-target="#modal-fields">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body" style="overflow-y: auto; height: 670px">
                        @{int fInt = 1;}
                        @foreach (var item in Model.SiteFields)
                        {
                            <div class="accordion" id="faccordion-@item.Field.Id" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header" id="Heading-@item.Field.Id">
                                        <div type="button" data-target="#field_@fInt" data-toggle="collapse"
                                             aria-expanded="false" aria-controls="@item.Field.Name">
                                            <div class="row">
                                                <h4><strong>@item.Field.Name</strong></h4>
                                                <div style="position:absolute; right:5px" class="btn-group">
                                                    <a style="float:right" href="#" type="button" class="btn btn-default" data-toggle="dropdown">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a asp-action="EditSiteField" asp-route-id="@item.Field.Id">Edit Field</a></li>
                                                        <li><a style="color:red" asp-action="DeleteSiteField" asp-route-id="@item.Field.Id">Delete Field</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4>Type: @item.Field.Field - @item.Field.Type</h4>
                                            <h4>Grid: @item.Field.Grid</h4>
                                        </div>
                                    </div>
                                    <div class="collapse" id="field_@fInt" aria-labelledby="Heading-@item.Field.Id" data-parent="#faccordion-@item.Field.Id">
                                        <div class="card-body">
                                            <p>@item.Field.Description</p>
                                            <button style="padding-bottom: 5px" type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-image" data-id="@item.Field.Id" data-string="target" btn-id="@item.Field.Id">Add Image</button>

                                            @if (item.Images != null)
                                            {
                                                <div class="row" style="padding-top: 10px">
                                                    <div class="form-group">
                                                        @foreach (var image in item.Images)
                                                        {
                                                            <a href="data:image/jpg;base64,@Convert.ToBase64String(image.Image)" class="yBox" data-ybox-group="group1">
                                                                <img src="data:image/jpg;base64,@Convert.ToBase64String(image.Image)" alt="New Image" width="200" />
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            fInt++;
                        }
                    </div>
                </div>
            }

            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Notes</h3>
                    <div class="card-tools">
                        <a href="#" class="btn btn-tool btn-sm" data-toggle="modal" data-target="#modal-default">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <row>
                        @if (Model.note != null)
                        {
                            @foreach (var item in Model.location.LocationNotes)
                            {
                                <strong>@item.Date.ToString(string.Format("MM/dd/yyyy"))</strong>
                                <h6>@item.Subject.ToString()</h6>
                                <p>@item.Body.ToString()</p>
                                <hr>
                            }
                        }
                    </row>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">MOU Details</h3>
                    <div class="card-tools">
                        @if (Model.mou.Title != null)
                        {
                            <div class="btn-group">
                                <a href="#" class="btn btn-tool btn-sm" data-toggle="dropdown">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#" type="button" data-toggle="modal" data-target="#modal-mou-update">Change MOU</a></li>
                                    <li><a type="button" style="color:red" asp-action="RemoveMou" asp-route-id="@Model.location.Id">Remove MOU</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a href="#" class="btn btn-tool btn-sm" data-toggle="modal" data-target="#modal-mou">
                                <i class="fas fa-plus"></i>
                            </a>
                        }

                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @if (Model.mou.Title != null && Model.mou.EndDate <= DateTime.Now)
                    {
                        <strong><i class="fas fa-folder"></i> Name</strong>
                        <ul>
                            <li><a asp-controller="Mou" asp-action="Details" asp-route-id="@Model.mou.Id">@Model.mou.Title</a></li>
                        </ul>
                        <hr>
                        <strong>Status</strong>
                        <ul>
                            <li class="text-center bg-warning">Expired</li>
                        </ul>
                        <hr>
                        <strong>Expiration Date</strong>
                        <ul>
                            @Model.mou.EndDate.ToString(string.Format("MM/dd/yyyy"))
                        </ul>

                    }
                    @if (Model.mou.Title != null && Model.mou.EndDate >= DateTime.Now)
                    {
                        <strong><i class="fas fa-folder"></i> Name</strong>
                        <ul>
                            <li><a asp-controller="Mou" asp-action="Details" asp-route-id="@Model.mou.Id">@Model.mou.Title</a></li>
                        </ul>
                        <hr>
                        <strong>Status</strong>
                        <ul>
                            <li class="text-center bg-success">Active</li>
                        </ul>
                        <hr>
                        <strong>Expiration Date</strong>
                        <ul>
                            @Model.mou.EndDate.ToString(string.Format("MM/dd/yyyy"))
                        </ul>
                    }
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Point Of Contact</h3>
                    <div class="card-tools">
                        @if (Model.poc.FirstName != null)
                        {
                            <div class="btn-group">
                                <a href="#" class="btn btn-tool btn-sm" data-toggle="dropdown">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#" type="button" data-toggle="modal" data-target="#modal-poc-update">Change POC</a></li>
                                    <li><a type="button" style="color:red" asp-action="RemovePoc" asp-route-id="@Model.location.Id">Remove POC</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a href="#" class="btn btn-tool btn-sm" data-toggle="modal" data-target="#modal-POC">
                                <i class="fas fa-plus"></i>
                            </a>
                        }
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @if (Model.poc.FirstName != null)
                    {
                        <strong>Contact Name</strong>
                        <ul>
                            @Html.DisplayFor(model => model.poc.FirstName) @Html.DisplayFor(model => model.poc.LastName)
                        </ul>

                        <hr>

                        <strong><i class="fas fa-envelope"></i> Email Address</strong>
                        <ul>
                            @Html.DisplayFor(model => model.poc.EmailAddress)
                        </ul>

                        <hr />

                        <strong><i class="fas fa-phone"></i> Phone Number</strong>
                        <ul>
                            @Html.DisplayFor(model => model.poc.PhoneNumber)
                        </ul>
                    }
                    @if (Model.poc == null)
                    {
                        <h4>No Contact Added</h4>
                    }

                </div>
            </div>
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Usage Dates</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div>
                        <strong>Active</strong>
                        <hr>
                        @if (Model.Excercises != null)
                        {
                            @foreach (var item in Model.Excercises)
                            {
                                if (item.StartDate <= DateTime.Now && item.EndDate > DateTime.Now)
                                {
                                    <a asp-controller="Excercise" asp-action="Details" asp-route-id="@item.Id">@item.TypeName</a>
                                    <p>@item.StartDate.ToString(string.Format("MM/dd/yyyy")) - @item.EndDate.ToString(string.Format("MM/dd/yyyy"))</p>
                                }
                            }
                        }
                    </div>
                    <div style="padding-top: 6px;">
                        <strong>Upcoming</strong>
                        <hr>
                        @if (Model.Excercises != null)
                        {
                            @foreach (var item in Model.Excercises)
                            {
                                if (item.StartDate >= DateTime.Now)
                                {
                                    <a asp-controller="Excercise" asp-action="Details" asp-route-id="@item.Id">@item.TypeName</a>
                                    <p>@item.StartDate.ToString(string.Format("MM/dd/yyyy")) - @item.EndDate.ToString(string.Format("MM/dd/yyyy"))</p>
                                }
                            }
                        }
                    </div>
                    <div style="padding-top: 6px;">
                        <strong>Completed</strong>
                        <hr />
                        @if (Model.Excercises != null)
                        {
                            @foreach (var item in Model.Excercises)
                            {
                                if (item.EndDate <= DateTime.Now)
                                {
                                    <a asp-controller="Excercise" asp-action="Details" asp-route-id="@item.Id">@item.TypeName</a>
                                    <p>@item.StartDate.ToString(string.Format("MM/dd/yyyy")) - @item.EndDate.ToString(string.Format("MM/dd/yyyy"))</p>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-fields">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new site field</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="AddSiteField" asp-route-id="@Model.location.Id">
                <div class="modal-body">
                    <div class="form-group" style="align-content: center">
                        <div class="form-group">
                            <label>Choose field type</label>
                            <div>
                                <select class="form-control" asp-for="FieldChoice" id="choice" style="width: 100%;">
                                    <option selected="selected" id="choose">Choose...</option>
                                    <option value="Target">Target</option>
                                    <option value="Support">Support</option>
                                    <option value="InsertPoint">Insert Points</option>
                                    <option value="Berthing">Berthing/Work</option>
                                    <option value="Meeting">Meeting</option>
                                </select>
                            </div>
                            <hr />
                            <div id="allChoices">
                                <div class="form-group" id="Target" style="display: none;">
                                    <select id="aa" class="form-control" asp-for="TypeChoice" style="width: 100%;">
                                        <option selected="selected">Choose...</option>
                                        <option value="DA/Raid">DA/Raid</option>
                                        <option value="R&S">R&S</option>
                                        <option value="VehicleIntrediction">Vehicle Intrediction</option>
                                        <option value="Ambush">Ambush</option>
                                        <option value="RAA">RAA</option>
                                        <option value="VirtualSynthetic">Virtual/Synthetic</option>
                                        <option value="Gaf">GAF</option>
                                        <option value="Haf">HAF</option>
                                        <option value="Baf">Baf</option>
                                    </select>
                                </div>
                                <div class="form-group" id="Support" style="display: none;">
                                    <select id="bb" class="form-control" asp-for="TypeChoice" style="width: 100%;">
                                        <option selected="selected">Choose...</option>
                                        <option value="MotorPool">Motor Pool</option>
                                        <option value="FuelFarm">Fuel Farm</option>
                                        <option value="Contractor">Contractor</option>
                                        <option value="MedicalFacility">Medical Facility</option>
                                    </select>
                                </div>
                                <div class="form-group" id="InsertPoint" style="display: none;">
                                    <select id="cc" class="form-control" asp-for="TypeChoice" style="width: 100%;">
                                        <option selected="selected">Choose...</option>
                                        <option value="Airfield/Runway">Airfield/Runway</option>
                                        <option value="DZ">DZ</option>
                                        <option value="HLZ">HLZ</option>
                                        <option value="SplashPoint">SplashPoint</option>
                                        <option value="VDO/Lagger">VDO/Lagger</option>
                                    </select>
                                </div>
                                <div class="form-group" id="Berthing" style="display: none;">
                                    <select id="dd" class="form-control" asp-for="TypeChoice" style="width: 100%;">
                                        <option selected="selected">Choose...</option>
                                        <option value="ECG">ECG</option>
                                        <option value="SOTF/HHQ">SOTF/HHQ</option>
                                        <option value="Company">Company</option>
                                        <option value="TeamSite">Team Site</option>
                                    </select>
                                </div>
                                <div class="form-group" id="Meeting" style="display: none;">
                                    <select id="ee" class="form-control" asp-for="TypeChoice" style="width: 100%;">
                                        <option selected="selected">Choose...</option>
                                        <option value="SA">SA</option>
                                        <option value="KLE">KLE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Field Name</label>
                            <input asp-for="FieldName" class="form-control" />
                            <span asp-validation-for="FieldName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Field Description</label>
                            <textarea class="form-control" asp-for="FieldDescription" rows="3" placeholder="Enter ..."></textarea>
                            <span asp-validation-for="FieldDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Field Grid</label>
                            <input asp-for="FieldGrid" class="form-control" />
                            <span asp-validation-for="FieldGrid" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Submit" />
                </div>

            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Note</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="AddNote" asp-route-id="@Model.location.Id">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Subject</label>
                        <input asp-for="NoteSubject" />
                        <span asp-validation-for="NoteSubject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" asp-for="locNote" rows="3" placeholder="Enter ..."></textarea>
                        <span asp-validation-for="locNote" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-mou">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add MOU</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <button asp-for="mouChoice" value="1" style="padding-right: 10px" type="button" id="NewMou" class="btn btn-default">New MOU</button>
                    </div>
                    <div class="col">
                        <button asp-for="mouChoice" value="2" style="padding-left: 10px" type="button" id="ExsistingMou" class="btn btn-default">Exsisting MOU</button>
                    </div>
                </div>
                <div class="form-group" style="display: none" id="exmou">
                    <form method="post" asp-action="AddMou" asp-route-id="@Model.location.Id">
                        <div class="form-goup">
                            <label>Select Exsisting MOU</label>
                            <select asp-for="MouId" class="form-control" id="MouId" asp-items="ViewBag.MouId"></select>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="submit" value="Submit" />
                        </div>
                    </form>
                </div>
                <div class="form-group" style="display: none" id="newmou">
                    <form asp-action="CreateNewMou" enctype="multipart/form-data" asp-route-id="@Model.location.Id">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label>Mou Name</label>
                            <input asp-for="mou.Title" class="form-control" />
                            <span asp-validation-for="mou.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Choose File</label>
                            <input asp-for="mou.File" class="form-control" accept=".pdf" type="file" />
                        </div>
                        <div class="form-group">
                            <label>Start Date</label>
                            <input asp-for="mou.StartDate.Date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                            <span asp-validation-for="mou.StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>End Date</label>
                            <input asp-for="mou.EndDate" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                            <span asp-validation-for="mou.EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Contact First Name</label>
                            <input asp-for="mou.FirstName" class="form-control" />
                            <span asp-validation-for="mou.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Contact Last Name</label>
                            <input asp-for="mou.lastName" class="form-control" />
                            <span asp-validation-for="mou.lastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Contact Email</label>
                            <input asp-for="mou.Email" class="form-control" />
                            <span asp-validation-for="mou.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Contact Phone Number</label>
                            <input asp-for="mou.PhoneNumber" class="form-control" />
                            <span asp-validation-for="mou.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-POC">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Contact</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="AddContact" asp-route-id="@Model.location.Id">
                @Html.HiddenFor(p => p.pocChoice, new { id = "Id" })
                <div class="modal-body">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <button asp-for="pocChoice" value="1" style="padding-right: 10px" type="button" id="NewPoc" class="btn btn-default">New Contact</button>
                            </div>
                            <div class="col">
                                <button asp-for="pocChoice" value="2" style="padding-left: 10px" type="button" id="ExsistingPoc" class="btn btn-default">Exsisting Contact</button>
                            </div>
                        </div>
                        <div class="form-goup" style="display: none" id="exspoc">
                            <label>Exsisting Contact</label>
                            <select asp-for="PocId" class="form-control" id="PocId" asp-items="ViewBag.PocId"></select>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        <div style="display: none" id="newpoc">
                            <div class="form-group">
                                <label class="control-label">Email Address</label>
                                <input asp-for="EmailAddress" class="form-control" />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">last Name</label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <p>AND/OR</p>
                            <div class="form-group">
                                <label class="control-label">Organization Name</label>
                                <input asp-for="OrganizationName" class="form-control" />
                                <span asp-validation-for="OrganizationName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Phone Number</label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Ownership Type <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="checkbox">
                                        <label asp-for="Private" class="control-label"></label>
                                        <input type="checkbox" asp-for="Private" value="false" onchange="this.value=this.checked" />
                                    </li>
                                    <li class="checkbox">
                                        <label asp-for="MilFed" class="control-label"></label>
                                        <input type="checkbox" asp-for="MilFed" value="false" onchange="this.value=this.checked" />
                                    </li>
                                    <li class="checkbox">
                                        <label asp-for="Lea" class="control-label"></label>
                                        <input type="checkbox" asp-for="Lea" value="false" onchange="this.value=this.checked" />
                                    </li>
                                    <li class="checkbox">
                                        <label asp-for="Commercial" class="control-label"></label>
                                        <input type="checkbox" asp-for="Commercial" value="false" onchange="this.value=this.checked" />
                                    </li>
                                    <li class="checkbox">
                                        <label asp-for="FireMedical" class="control-label"></label>
                                        <input type="checkbox" asp-for="FireMedical" value="false" onchange="this.value=this.checked" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-map">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid col-md-8">
                <div class="card container-fluid">
                    <div class="card-body p-0">
                        <div class="align-content-center">
                            <div id="map" style="height:500px; width:600px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-image">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add New Field Image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" method="post" asp-action="AddImage" asp-route-id="@Model.location.Id">
                <input type="hidden" asp-for="FieldId" id="FieldId" />
                <input type="hidden" asp-for="ImageField" id="ImageField" />
                <div class="modal-body">
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        <label>Image Upload</label>
                        <input asp-for="@Model.ImageData" class="form-control" accept=".jpg" type="file" />
                    </div>
                    <div>
                        <label>Image Description</label>
                        <textarea class="form-control" asp-for="ImageDescription" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-mou-update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change MOU</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" id="replacemou">
                    <form method="post" asp-action="AddMou" asp-route-id="@Model.location.Id">
                        <div class="form-goup">
                            <label>Select Exsisting MOU</label>
                            <select asp-for="MouId" class="form-control" id="MouId" asp-items="ViewBag.MouId"></select>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="submit" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-poc-update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change POC</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" id="replacepoc">
                    <form method="post" asp-action="ChangeContact" asp-route-id="@Model.location.Id">
                        @Html.HiddenFor(p => p.pocChoice, new { id = "Id" })
                        <label>Exsisting Contact</label>
                        <select asp-for="PocId" class="form-control" id="PocId" asp-items="ViewBag.PocId"></select>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="container-fluid py-4">
    <a asp-action="EditSite" asp-route-id="@Model.location.Id">Edit</a>
    <a asp-action="Search">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/fullcalendar/main.js"></script>
    <script src="~/plugins/ekko-lightbox/ekko-lightbox.js"></script>
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <script src="~/dist/js/lightbox.js"></script>

    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2Fyc29uYm91cmdlb2lzIiwiYSI6ImNrb2dpamRybzBuOHAycG85bTczZmVreTQifQ.htIKDF3etzcH0j0MN8VUJg';

            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [@ViewBag.Long, @ViewBag.Lat],
                zoom: 12,

            });
            var marker = new mapboxgl.Marker()
                .setLngLat([@ViewBag.Long, @ViewBag.Lat])
                .addTo(map);</script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });

    </script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
            $('#reservation').daterangepicker();
            $('form').submit(function (ev, picker) {
                [startDate, endDate] = $('.date_range').val().split(' - ');
                $(this).find('input[name="start_date"]').val(startDate);
                $(this).find('input[name="end_date"]').val(endDate);
            });
    </script>
    <script>
        $("#choice").change(function () {
            $("#aa,#bb,#cc,#dd,#ee").val([]);
            $("#Target,#Support,#InsertPoint,#Berthing,#Meeting").hide();

            if ($(this).val() == "Target") {
                $("#Target").show();
            }
            else if ($(this).val() == "Support") {
                $("#Support").show();
            }
            else if ($(this).val() == "InsertPoint") {
                $("#InsertPoint").show();
            }
            else if ($(this).val() == "Berthing") {
                $("#Berthing").show();
            }
            else if ($(this).val() == "Meeting") {
                $("#Meeting").show();
            }
        });

    </script>
    <script>
        $('#NewMou').click(function () {
            $('#exmou').hide();
            $('#newmou').show();
            $('#Id').val(1);
        });
        $('#ExsistingMou').click(function () {
            $('#newmou').hide();
            $('#exmou').show();
            $("#Id").val(2);
        });
    </script>
    <script>
        var choice = 0;
        $('#NewPoc').click(function () {
            $('#exspoc').hide();
            $('#newpoc').show();
            $('#Id').val(1);
        });
        $('#ExsistingPoc').click(function () {
            $('#newpoc').hide();
            $('#exspoc').show();
            $("#Id").val(2);
        });
    </script>
    <script>
        var choice = 0;
        $('#NewMouEdit').click(function () {
            $('#RemoveMou').hide();
            $('#replacemou').show();
            $('#Id').val(1);
        });
        $('#RemoveMou').click(function () {
            $('#replacemou').hide();
            $("#Id").val(2);
        });
    </script>
    <script>
    $("button").click(function() {
        var string = $(this).attr('data-string');
        var id = $(this).attr('data-id');
        $('#FieldId').val(id);
        $("#ImageField").val(string);
    });
    </script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true
            });
        });
    </script>

}

