@model SocomTrainingPlatform.Models.DashboardModels.DashboardViewModels.DetailsVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout/_Layout.cshtml";
}
<div class="container-fluid py-4" style="background-color:white; box-shadow: 0 4px 2px -2px gray">
    <div class="row">
        <div class="col-md-4">
            <h3 class="align-content-center">@Html.DisplayFor(model => model.location.Name)</h3>
            <div>
                <h6>@Html.DisplayName(ViewBag.FullAddress)</h6>
            </div>
        </div>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="bi bi-map" style="padding-right: 10px"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-map">Map View</button></li>
        </ul>
    </div>
</div>
<div class="container-fluid py-4">
    <div class="row">
        <div class="container-fluid col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Site Fields</h2>
                    <div class="card-tools">
                        <a href="#" class="btn btn-tool btn-sm" data-toggle="modal" data-target="#modal-fields">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body" style="overflow-y: auto; height: 670px">
                    @{int tgInt = 1;}
                    @foreach (var item in Model.target)
                    {
                        <div class="accordion" id="taccordion-@item.Target.Id" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" id="Heading-@item.Target.Id">
                                    <div type="button" data-target="#target_@tgInt" data-toggle="collapse"
                                         aria-expanded="false" aria-controls="@item.Target.Name">
                                        <h4><strong>@item.Target.Name</strong></h4>
                                        @if (item.Target.Ambush == true)
                                        {
                                            <h4>Type: Target - Ambush</h4>
                                        }
                                        @if (item.Target.Baf == true)
                                        {
                                            <h4>Type: Target - BAF</h4>
                                        }
                                        @if (item.Target.DaRaid == true)
                                        {
                                            <h4>Type: Target - DA/Raid</h4>
                                        }
                                        @if (item.Target.Gaf == true)
                                        {
                                            <h4>Type: Target - GAF</h4>
                                        }
                                        @if (item.Target.VehicleIntrediction == true)
                                        {
                                            <h4>Type: Target - Vehicle Intrediction</h4>
                                        }
                                        @if (item.Target.VirtualSynthetic == true)
                                        {
                                            <h4>Type: Target - Virtual Synthetic</h4>
                                        }
                                        @if (item.Target.Raa == true)
                                        {
                                            <h4>Type: Target - RAA</h4>
                                        }
                                        @if (item.Target.Rs == true)
                                        {
                                            <h4>Type: Target - R&S</h4>
                                        }
                                        @if (item.Target.Haf == true)
                                        {
                                            <h4>Type: Target - HAF</h4>
                                        }
                                        <h4>Grid: @item.Target.Grid</h4>
                                    </div>
                                </div>
                                <div class="collapse" id="target_@tgInt" aria-labelledby="Heading-@item.Target.Id" data-parent="#taccordion-@item.Target.Id">
                                    <div class="card-body">
                                        <p>@item.Target.Description</p>
                                        <button style="padding-bottom: 5px" type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-image" data-id="@item.Target.Id" data-string="target" btn-id="@item.Target.Id">Add Image</button>

                                        @if (item.Images != null)
                                        {
                                            <div class="row">
                                                <div class="form-group">
                                                    @foreach (var image in item.Images)
                                                    {
                                                        <a href="data:image/jpg;base64,@Convert.ToBase64String(image.ImageFile)" class="yBox" data-ybox-group="group1">
                                                            <img src="data:image/jpg;base64,@Convert.ToBase64String(image.ImageFile)" alt="New Image" width="200" />
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        tgInt++;
                    }
                    @{int sInt = 1;}
                    @foreach (var item in Model.support)
                    {
                        <div class="accordion" id="saccordion-@item.Support.Id" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header">
                                    <div type="button" data-target="#support_@sInt" data-toggle="collapse"
                                         aria-expanded="false" aria-controls="@item.Support.Name">
                                        <h4><strong>@item.Support.Name</strong></h4>
                                        @if (item.Support.Contractor == true)
                                        {
                                            <h4>Type: Support - Contractor</h4>
                                        }
                                        @if (item.Support.FuelFarm == true)
                                        {
                                            <h4>Type: Support - Fuel Farm</h4>
                                        }
                                        @if (item.Support.MedicalFacility == true)
                                        {
                                            <h4>Type: Support - Medical Facility</h4>
                                        }
                                        @if (item.Support.MotorPool == true)
                                        {
                                            <h4>Type: Support - Motor Pool</h4>
                                        }
                                        <h4>Grid: @item.Support.Grid</h4>
                                    </div>
                                </div>
                                <div class="collapse" id="support_@sInt" aria-labelledby="Heading-@item.Support.Id" data-parent="#saccordion-@item.Support.Id">
                                    <div class="card-body">
                                        <p>@item.Support.Description</p>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-image" data-id="@item.Support.Id" data-string="Support" btn-id="@item.Support.Id">Add Image</button>
                                    </div>
                                    @if (item.Image != null)
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                @foreach (var image in item.Image)
                                                {
                                                    <a href="data:image/jpg;base64,@Convert.ToBase64String(image.Image)" class="yBox" data-ybox-group="group1">
                                                        <img src="data:image/jpg;base64,@Convert.ToBase64String(image.Image)" alt="New Image" width="200" />
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <hr>
                        sInt++;
                    }
                    @{int iInt = 1;}
                    @foreach (var item in Model.insertPoint)
                    {
                        <div class="accordion" id="iaccordion-@item.InsertPoint.Id" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header">
                                    <div type="button" data-target="#insert_@iInt" data-toggle="collapse"
                                         aria-expanded="false" aria-controls="@item.InsertPoint.Name">
                                        <h4><strong>@item.InsertPoint.Name</strong></h4>
                                        @if (item.InsertPoint.AirfieldRunway == true)
                                        {
                                            <h4>Type: Insert Point - Airfeild/Runway</h4>
                                        }
                                        @if (item.InsertPoint.Bls == true)
                                        {
                                            <h4>Type: Insert Point - BLS</h4>
                                        }
                                        @if (item.InsertPoint.Dz == true)
                                        {
                                            <h4>Type: Insert Point - DZ</h4>
                                        }
                                        @if (item.InsertPoint.Hlz == true)
                                        {
                                            <h4>Type: Insert Point - HLZ</h4>
                                        }
                                        @if (item.InsertPoint.SplashPoint == true)
                                        {
                                            <h4>Type: Insert Point - Splash Point</h4>
                                        }
                                        @if (item.InsertPoint.VdoLagger == true)
                                        {
                                            <h4>Type: Insert Point - VDO Lagger</h4>
                                        }
                                        <h4>Grid: @item.InsertPoint.Grid</h4>
                                    </div>
                                </div>
                                <div class="collapse" id="insert_@iInt" data-parent="#iaccordion-@item.InsertPoint.Id">
                                    <div class="card-body">
                                        <p>@item.InsertPoint.Description</p>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-image" data-id="@item.InsertPoint.Id" data-string="Insert" btn-id="@item.InsertPoint.Id">Add Image</button>
                                    </div>
                                    @if (item.Images != null)
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                @foreach (var image in item.Images)
                                                {
                                                    <a href="data:image/jpg;base64,@Convert.ToBase64String(image.Image)" class="yBox" data-ybox-group="group1">
                                                        <img src="data:image/jpg;base64,@Convert.ToBase64String(image.Image)" alt="New Image" width="200" />
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <hr>
                        iInt++;
                    }

                    @{int bInt = 1;}
                    @foreach (var item in Model.berthingWork)
                    {
                        <div class="accordion" id="baccordion-@item.Berthing.Id" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header">
                                    <div type="button" data-target="#berthing_@bInt" data-toggle="collapse"
                                         aria-expanded="false" aria-controls="@item.Berthing.Name">
                                        <h4><strong>@item.Berthing.Name</strong></h4>
                                        @if (item.Berthing.Company == true)
                                        {
                                            <h4>Type: Berthing - Company</h4>
                                        }
                                        @if (item.Berthing.Ecg == true)
                                        {
                                            <h4>Type: Berthing - ECG</h4>
                                        }
                                        @if (item.Berthing.SotfHq == true)
                                        {
                                            <h4>Type: Berthing - SOTF/HQ</h4>
                                        }
                                        @if (item.Berthing.TeamSite == true)
                                        {
                                            <h4>Type: Berthing - Team Site</h4>
                                        }
                                        <h4>Grid: @item.Berthing.Grid</h4>
                                    </div>
                                </div>
                                <div class="collapse" id="berthing_@bInt" data-parent="#baccordion-@item.Berthing.Id">
                                    <div class="card-body">
                                        <p>@item.Berthing.Description</p>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-image" data-id="@item.Berthing.Id" data-string="Berthing" btn-id="@item.Berthing.Id">Add Image</button>
                                    </div>
                                    @if (item.Images != null)
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                @foreach (var image in item.Images)
                                                {
                                                    <a href="data:image/jpg;base64,@Convert.ToBase64String(image.ImageFile)" class="yBox" data-ybox-group="group1">
                                                        <img src="data:image/jpg;base64,@Convert.ToBase64String(image.ImageFile)" alt="New Image" width="200" />
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <hr>
                        bInt++;
                    }
                    @{int mInt = 1;}
                    @foreach (var item in Model.meeting)
                    {
                        <div class="accordion" id="maccordion-@item.Meeting.Id" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header">
                                    <div type="button" data-target="#meeting_@mInt" data-toggle="collapse"
                                         aria-expanded="false" aria-controls="@item.Meeting.Name">
                                        <h4><strong>@item.Meeting.Name</strong></h4>
                                        @if (item.Meeting.Kle == true)
                                        {
                                            <h4>Type: Meeting - KLE</h4>
                                        }
                                        @if (item.Meeting.Sa == true)
                                        {
                                            <h4>Type: Meeting - SA</h4>
                                        }
                                        <h4>Grid: @item.Meeting.Grid</h4>
                                    </div>
                                </div>
                                <div class="collapse" id="meeting_@mInt" data-parent="#baccordion-@item.Meeting.Id">
                                    <div class="card-body">
                                        <p>@item.Meeting.Description</p>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-image" data-id="@item.Meeting.Id" data-string="Meeting" btn-id="@item.Meeting.Id">Add Image</button>
                                    </div>
                                    @if (item.Images != null)
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                @foreach (var image in item.Images)
                                                {
                                                    <a href="data:image/jpg;base64,@Convert.ToBase64String(image.ImageFile)" class="yBox" data-ybox-group="group1">
                                                        <img src="data:image/jpg;base64,@Convert.ToBase64String(image.ImageFile)" alt="New Image" width="200" />
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <hr>
                        mInt++;
                    }
                </div>
            </div>
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Notes</h3>
                    <div class="card-tools">
                        <a href="#" class="btn btn-tool btn-sm" data-toggle="modal" data-target="#modal-default">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <row>
                        @if (Model.note != null)
                        {
                            @foreach (var item in Model.location.LocationNotes)
                            {
                                <strong>@item.Date.ToString(string.Format("MM/dd/yyyy"))</strong>
                                <h6>@item.Subject.ToString()</h6>
                                <p>@item.Body.ToString()</p>
                                <hr>
                            }
                        }
                    </row>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">MOU Details</h3>
                    <div class="card-tools">
                        <a href="#" class="btn btn-tool btn-sm" data-toggle="modal" data-target="#modal-mou">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @if (Model.mou.Title != null && Model.mou.EndDate <= DateTime.Now)
                    {
                        <strong><i class="fas fa-folder"></i> Name</strong>
                        <ul>
                            <li><a asp-controller="Mou" asp-action="Details" asp-route-id="@Model.mou.Id">@Model.mou.Title</a></li>
                        </ul>
                        <hr>
                        <strong>Status</strong>
                        <ul>
                            <li class="text-center bg-warning">Expired</li>
                        </ul>
                        <hr>
                        <strong>Expiration Date</strong>
                        <ul>
                            @Model.mou.EndDate.ToString(string.Format("MM/dd/yyyy"))
                        </ul>

                    }
                    @if (Model.mou.Title != null && Model.mou.EndDate >= DateTime.Now)
                    {
                        <strong><i class="fas fa-folder"></i> Name</strong>
                        <ul>
                            <li><a asp-controller="Mou" asp-action="Details" asp-route-id="@Model.mou.Id">@Model.mou.Title</a></li>
                        </ul>
                        <hr>
                        <strong>Status</strong>
                        <ul>
                            <li class="text-center bg-success">Active</li>
                        </ul>
                        <hr>
                        <strong>Expiration Date</strong>
                        <ul>
                            @Model.mou.EndDate.ToString(string.Format("MM/dd/yyyy"))
                        </ul>
                    }
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Point Of Contact</h3>
                    <div class="card-tools">
                        <a href="#" class="btn btn-tool btn-sm" data-toggle="modal" data-target="#modal-POC">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @if (Model.poc.FirstName != null)
                    {
                        <strong>Contact Name</strong>
                        <ul>
                            @Html.DisplayFor(model => model.poc.FirstName) @Html.DisplayFor(model => model.poc.LastName)
                        </ul>

                        <hr>

                        <strong><i class="fas fa-envelope"></i> Email Address</strong>
                        <ul>
                            @Html.DisplayFor(model => model.poc.EmailAddress)
                        </ul>

                        <hr />

                        <strong><i class="fas fa-phone"></i> Phone Number</strong>
                        <ul>
                            @Html.DisplayFor(model => model.poc.PhoneNumber)
                        </ul>
                    }
                    @if (Model.poc == null)
                    {
                        <h4>No Contact Added</h4>
                    }

                </div>
            </div>
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="card-title">Usage Dates</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div>
                        <strong>Active</strong>
                        <hr>
                        @if (Model.Excercises != null)
                        {
                            @foreach (var item in Model.Excercises)
                            {
                                if (item.StartDate <= DateTime.Now && item.EndDate > DateTime.Now)
                                {
                                    <a asp-controller="Excercise" asp-action="Details" asp-route-id="@item.Id">@item.TypeName</a>
                                    <p>@item.StartDate.ToString(string.Format("MM/dd/yyyy")) - @item.EndDate.ToString(string.Format("MM/dd/yyyy"))</p>
                                }
                            }
                        }
                    </div>
                    <div style="padding-top: 6px;">
                        <strong>Upcoming</strong>
                        <hr>
                        @if (Model.Excercises != null)
                        {
                            @foreach (var item in Model.Excercises)
                            {
                                if (item.StartDate >= DateTime.Now)
                                {
                                    <a asp-controller="Excercise" asp-action="Details" asp-route-id="@item.Id">@item.TypeName</a>
                                    <p>@item.StartDate.ToString(string.Format("MM/dd/yyyy")) - @item.EndDate.ToString(string.Format("MM/dd/yyyy"))</p>
                                }
                            }
                        }
                    </div>
                    <div style="padding-top: 6px;">
                        <strong>Completed</strong>
                        <hr />
                        @if (Model.Excercises != null)
                        {
                            @foreach (var item in Model.Excercises)
                            {
                                if (item.EndDate <= DateTime.Now)
                                {
                                    <a asp-controller="Excercise" asp-action="Details" asp-route-id="@item.Id">@item.TypeName</a>
                                    <p>@item.StartDate.ToString(string.Format("MM/dd/yyyy")) - @item.EndDate.ToString(string.Format("MM/dd/yyyy"))</p>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-fields">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new site field</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="AddField" asp-route-id="@Model.location.Id">
                <div class="modal-body">
                    <div class="form-group" style="align-content: center">
                        <div class="form-group">
                            <label>Choose field type</label>
                            <div>
                                <select class="form-control" asp-for="FieldChoice" id="choice" style="width: 100%;">
                                    <option selected="selected" id="choose">Choose...</option>
                                    <option value="A">Target</option>
                                    <option value="B">Support</option>
                                    <option value="C">Insert Points</option>
                                    <option value="D">Berthing/Work</option>
                                    <option value="E">Meeting</option>
                                </select>
                            </div>
                            <hr />
                            <div id="allChoices">
                                <div class="form-group" id="A" style="display: none;">
                                    <select class="form-control" asp-for="TarChoice" style="width: 100%;">
                                        <option selected="selected">Choose...</option>
                                        <option value="DA/Raid">DA/Raid</option>
                                        <option value="R&S">R&S</option>
                                        <option value="VehicleIntrediction">Vehicle Intredictiont</option>
                                        <option value="Ambush">Ambush</option>
                                        <option value="RAA">RAA</option>
                                        <option value="VirtualSynthetic">Virtual/Synthetic</option>
                                        <option value="Gaf">GAF</option>
                                        <option value="Haf">HAF</option>
                                        <option value="Baf">Baf</option>
                                    </select>
                                </div>
                                <div class="form-group" id="B" style="display: none;">
                                    <select class="form-control" asp-for="SupChoice" style="width: 100%;">
                                        <option selected="selected">Choose...</option>
                                        <option value="MotorPool">Motor Pool</option>
                                        <option value="FuelFarm">Fuel Farm</option>
                                        <option value="Contractor">Contractor</option>
                                        <option value="MedicalFacility">Medical Facility</option>
                                    </select>
                                </div>
                                <div class="form-group" id="C" style="display: none;">
                                    <select class="form-control" asp-for="InsChoice" style="width: 100%;">
                                        <option selected="selected">Choose...</option>
                                        <option value="Airfield/Runway">Airfield/Runway</option>
                                        <option value="DZ">DZ</option>
                                        <option value="HLZ">HLZ</option>
                                        <option value="SplashPoint">SplashPoint</option>
                                        <option value="VDO/Lagger">VDO/Lagger</option>
                                    </select>
                                </div>
                                <div class="form-group" id="D" style="display: none;">
                                    <select class="form-control" asp-for="BerChoice" style="width: 100%;">
                                        <option selected="selected">Choose...</option>
                                        <option value="ECG">ECG</option>
                                        <option value="SOTF/HHQ">SOTF/HHQ</option>
                                        <option value="Comapny">Comapny</option>
                                        <option value="TeamSite">Team Site</option>
                                    </select>
                                </div>
                                <div class="form-group" id="E" style="display: none;">
                                    <select class="form-control" asp-for="MetChoice" style="width: 100%;">
                                        <option selected="selected">Choose...</option>
                                        <option value="SA">SA</option>
                                        <option value="KLE">KLE</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Field Name</label>
                            <input asp-for="FieldName" class="form-control" />
                            <span asp-validation-for="FieldName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Field Description</label>
                            <textarea class="form-control" asp-for="FieldDescription" rows="3" placeholder="Enter ..."></textarea>
                            <span asp-validation-for="FieldDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Field Grid</label>
                            <input asp-for="FieldGrid" class="form-control" />
                            <span asp-validation-for="FieldGrid" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Submit" />
                </div>

            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Note</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="AddNote" asp-route-id="@Model.location.Id">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Subject</label>
                        <input asp-for="NoteSubject" />
                        <span asp-validation-for="NoteSubject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" asp-for="locNote" rows="3" placeholder="Enter ..."></textarea>
                        <span asp-validation-for="locNote" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-mou">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add MOU</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="AddMou" asp-route-id="@Model.location.Id">
                <div class="modal-body">
                    <div class="form-goup">
                            <label>Select MOU</label>
                            <select asp-for="MouId" class="form-control" id="MouId" asp-items="ViewBag.MouId"></select>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-POC">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Contact</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="AddContact" asp-route-id="@Model.location.Id">
                @Html.HiddenFor(p => p.pocChoice, new { id = "Id"})
                <div class="modal-body">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <button asp-for="pocChoice" value="1" style="padding-right: 10px" type="button" id="NewPoc" class="btn btn-default">New Contact</button>
                            </div>
                            <div class="col">
                                <button asp-for="pocChoice" value="2" style="padding-left: 10px" type="button" id="ExsistingPoc" class="btn btn-default">Exsisting Contact</button>
                            </div>
                        </div>
                        <div class="form-goup" style="display: none" id="exspoc">
                            <label>Exsisting Contact</label>
                            <select asp-for="PocId" class="form-control" id="PocId" asp-items="ViewBag.PocId"></select>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        <div style="display: none" id="newpoc">
                            <div class="form-group">
                                <label asp-for="EmailAddress" class="control-label"></label>
                                <input asp-for="EmailAddress" class="form-control" />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <p>AND/OR</p>
                            <div class="form-group">
                                <label asp-for="OrganizationName" class="control-label"></label>
                                <input asp-for="OrganizationName" class="form-control" />
                                <span asp-validation-for="OrganizationName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Ownership Type <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="checkbox">
                                        <label asp-for="Private" class="control-label"></label>
                                        <input type="checkbox" asp-for="Private" value="false" onchange="this.value=this.checked" />
                                    </li>
                                    <li class="checkbox">
                                        <label asp-for="MilFed" class="control-label"></label>
                                        <input type="checkbox" asp-for="MilFed" value="false" onchange="this.value=this.checked" />
                                    </li>
                                    <li class="checkbox">
                                        <label asp-for="Lea" class="control-label"></label>
                                        <input type="checkbox" asp-for="Lea" value="false" onchange="this.value=this.checked" />
                                    </li>
                                    <li class="checkbox">
                                        <label asp-for="Commercial" class="control-label"></label>
                                        <input type="checkbox" asp-for="Commercial" value="false" onchange="this.value=this.checked" />
                                    </li>
                                    <li class="checkbox">
                                        <label asp-for="FireMedical" class="control-label"></label>
                                        <input type="checkbox" asp-for="FireMedical" value="false" onchange="this.value=this.checked" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-map">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid col-md-8">
                <div class="card container-fluid">
                    <div class="card-body p-0">
                        <div class="align-content-center">
                            <div id="map" style="height:500px; width:600px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-image">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add New Field Image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" method="post" asp-action="AddImage" asp-route-id="@Model.location.Id">
                <input type="hidden" asp-for="FieldId" id="FieldId" />
                <input type="hidden" asp-for="ImageField" id="ImageField" />
                <div class="modal-body">
                    <div class="form-group">
                        
                    </div>
                    <div class="form-group">
                        <label>Image Upload</label>
                        <input asp-for="@Model.ImageData" class="form-control" accept=".jpg" type="file" />
                    </div>
                    <div>
                        <label>Image Description</label>
                        <textarea class="form-control" asp-for="ImageDescription" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="container-fluid py-4">
    <a asp-action="Edit" asp-route-id="@Model.location.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/plugins/moment/moment.min.js"></script>
<script src="~/plugins/fullcalendar/main.js"></script>
<script src="~/plugins/ekko-lightbox/ekko-lightbox.js"></script>
<script src="~/plugins/jquery/jquery.min.js"></script>

<script src="~/dist/js/lightbox.js"></script>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2Fyc29uYm91cmdlb2lzIiwiYSI6ImNrb2dpamRybzBuOHAycG85bTczZmVreTQifQ.htIKDF3etzcH0j0MN8VUJg';

            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [@ViewBag.Long, @ViewBag.Lat],
                zoom: 12,

            });
            var marker = new mapboxgl.Marker()
                .setLngLat([@ViewBag.Long, @ViewBag.Lat])
                .addTo(map);</script>

<script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth'
      });
      calendar.render();
    });

</script>
<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()
        $('#reservation').daterangepicker();
        $('form').submit(function (ev, picker) {
        [startDate, endDate] = $('.date_range').val().split(' - ');
        $(this).find('input[name="start_date"]').val(startDate);
        $(this).find('input[name="end_date"]').val(endDate);
        });
</script>
<script>
        $("#choice").change(function(){
      $("#A,#B,#C,#D,#E").hide();
      if($(this).val() == "A"){
        $("#A").show();
      }
      else if($(this).val() == "B"){
        $("#B").show();
      }
      else if($(this).val() == "C"){
        $("#C").show();
      }
      else if($(this).val() == "D"){
        $("#D").show();
      }
      else if($(this).val() == "E"){
        $("#E").show();
      }
    });

</script>
<script>
    var choice = 0;
     $('#NewPoc').click(function() {
         $('#exspoc').hide();
         $('#newpoc').show();
         $('#Id').val(1);
     });
     $('#ExsistingPoc').click(function() {
         $('#newpoc').hide();
         $('#exspoc').show();
         $("#Id").val(2);
     });
</script>
<script>  
    $("button").click(function() {
        var string = $(this).attr('data-string');
        var id = $(this).attr('data-id');
        $('#FieldId').val(id);
        $("#ImageField").val(string);
    });

    @*$('btn-id').click(function(){
        $('#FieldId').val($(this).attr('data-id'));
        $("#ImageField").val($(this).data("string"));
    });*@

</script>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true
      });
    });
</script>

   }

